<ion-header [pageTitle]="pageTitle">
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="title">Registrate</ion-card-title>
      <img src="assets/img/Logo.PNG" alt="">
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistro"(keyup.enter)="guardar()">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input formControlName="confirmacionPassword" type="password"></ion-input>
        </ion-item>
        <br>
        <ion-button class="button-block" (click)="guardar()">Registrarse</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
