<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Ingrese su correo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" required></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    <ion-button expand="block" color="primary" (click)="enviarCorreoRestablecimiento()">Enviar enlace de restablecimiento</ion-button>
    <ion-button expand="block" color="medium" fill="clear" [routerLink]="['/login']">Volver a inicio de sesión</ion-button>
  </div>
</ion-content>

