<app-header [pageTitle]="pageTitle"></app-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item >
            <ion-label>
            <h1>Convertidor de Monedas</h1>
            <br>
            <h2>valor {{listadoMindicador.euro.codigo}}  = ${{listadoMindicador.euro.valor}}</h2>
            <br>
            <h2>valor {{listadoMindicador.dolar.codigo}} = ${{listadoMindicador.dolar.valor}}</h2>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-button>Convertir</ion-button>
    <app-fab-menu></app-fab-menu>
  

</ion-content>
