<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>

<ion-content>
    <ion-card>
        <!-- Primer Card -->
        <ion-card-header>
            <ion-card-subtitle>Carrera: Ingeniería informática</ion-card-subtitle>
            <ion-card-title>Luis Reyes</ion-card-title>
            <img src="assets/img/Luis.jpg" alt="">
          </ion-card-header>
        
          <ion-card-content>
            Estudiante en el instituto profesional de la Universidad Católica de Chile (DuocUc). 
          </ion-card-content>
        </ion-card>
        <!-- Segundo Card -->
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Carrera: Ingeniería informática</ion-card-subtitle>
                <ion-card-title>Diego de la vega</ion-card-title>
                <img src="assets/img/Diego.jpg" alt="">
              </ion-card-header>
            
              <ion-card-content>
                Estudiante en el instituto profesional de la Universidad Católica de Chile (DuocUc). 
              </ion-card-content>
            </ion-card>
          
</ion-content>


    
    

  

  