<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>

<ion-content>
  <ion-card>
    <ion-card-title color="primary" class="ion-text-center">
      <ion-label>Iniciar Sesión</ion-label>
    </ion-card-title>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input  
          type="text"
          [(ngModel)]="user.username"
          pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
          required>
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input  
          type="password"
          [(ngModel)]="user.password"
          pattern="^(?=\\w*\\d)(?=\\w*[A-Z])(?=\\w*[a-z])\\S{4,6}$"
          required>
        </ion-input>
      </ion-item>
    </ion-card-content>

    <ion-button expand="block" (click)="ingresar()">Entrar</ion-button>
  </ion-card>

  <div class="ion-text-center">
    <a class="a-link" [routerLink]="['/restablecer']">¿Olvidó la contraseña?</a>
  </div>

  <ion-footer>
    <ion-toolbar color="blue">
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/registro']">Registrarse</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
  
  <app-fab-menu></app-fab-menu>
</ion-content>
