<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">
        <strong>Página No encontrada!!</strong>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Ups!!! al parecer el contenido que buscas no existe.
    </ion-card-content>
  
    <ion-item [routerLink]="['/home']" class="ion-activated">
      <ion-icon name="arrow-undo-outline" ></ion-icon>
      <ion-label>Volver</ion-label>
    </ion-item>
  </ion-card>
</ion-content>