<ion-fab horizontal="end" vertical="bottom" slot="fixed">

  <ion-fab-button color="primary" >
    <ion-icon name="chevron-up-circle-outline"></ion-icon>
  </ion-fab-button>
  
  <ion-fab-list side="top">
    <ion-fab-button color="dark" [routerLink]="['/about']">
      <ion-icon name="people-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="tertiary" (click)="goContact()">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-fab-button>
    
    <ion-fab-button color="dark" [routerLink]="['/login']">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="dark" [routerLink]="['/page404']">
      <ion-icon name="bug-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>

</ion-fab>
